.banners {
    display: flex;

    margin: 56px 0 100px 0;

    .banners-grid {
        display: grid;
        grid-template-columns: 355px 355px 355px 355px;
        grid-template-rows: 370px 370px;
        grid-template-areas: "big-box big-box medium-box medium-box"
            "big-box big-box small-box small-box1";
        place-content: center;
        gap: 30px;

        @media (max-width: 1600px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 360px 360px;
        }

        @media (max-width: 1150px) {
            grid-template-columns: 285px 285px;
            grid-template-rows: 260px 260px 260px 260px;
            grid-template-areas: "big-box big-box"
                "big-box big-box"
                "medium-box medium-box"
                "small-box small-box1";

        }

        @media (max-width: 610px) {
            grid-template-columns: 235px 235px;
            grid-template-rows: 240px 240px 240px 240px;
            grid-template-areas: "big-box big-box"
                "big-box big-box"
                "medium-box medium-box"
                "small-box small-box1";

        }

        @media (max-width: 510px) {
            grid-template-columns: 205px 205px;
            grid-template-rows: 220px 220px 220px 220px;
            grid-template-areas: "big-box big-box"
                "big-box big-box"
                "medium-box medium-box"
                "small-box small-box1";

        }

        @media (max-width: 450px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 180px 180px 180px 180px;
            grid-template-areas: "big-box big-box"
                "big-box big-box"
                "medium-box medium-box"
                "small-box small-box1";

        }

        .big-box {
            grid-area: big-box;
            max-width: 750px;
            width: 100%;


        }

        .medium-box {
            grid-area: medium-box;
            max-width: 750px;
        }

        .small-box {
            grid-area: small-box;
            max-width: 355px;
        }

        .small-box1 {
            grid-area: small-box1;
            max-width: 355px;
        }

        .banner-grid__box {
            position: relative;
            transition: all .5s ease-in-out;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: -1;
            }

            &:hover {
                opacity: .9;
                transition: all .5s ease-in-out;
            }

            .banner-box__inner {
                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;

                padding: 0 0 30px 30px;

                @media (max-width: 600px) {

                    padding: 0 0 15px 15px;
                }

                .banner-box__title {
                    color: #FFF;
                    font-family: $regular;
                    @include adaptiv-font(22, 9);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22.445px;
                    /* 98.829% */
                    letter-spacing: 0.681px;
                    margin-bottom: 10px;

                    @media (max-width: 1150px) {
                        margin-bottom: 3px;
                    }

                    @media (max-width: 600px) {
                        margin-bottom: 0px;
                    }
                }

                .banner-box__link {
                    color: #FFF;
                    font-family: Poppins;
                    @include adaptiv-font(16, 11);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24.416px;

                    border-bottom: 1px solid #FFF;
                    /* 150% */
                }
            }
        }
    }
}