.contacts {
    margin-top: 60px;
    .shop-entries {
        display: flex;
        column-gap: 5px;
        margin-bottom: 60px;
        margin-top: 70px;

        .info-entries__link {
            color: #1E1E1E;
            font-size: 12px;
        }
    }

    &-wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;

        @include _680-block {
            padding: 0 0 100px 0;
            flex-direction: column;
        }

        .contacts-left {
            display: flex;
            flex-direction: column;

            &__title {
                color: #1E1E1E;
                margin-bottom: 15px;
                font-family: $bold;
                font-size: 32px;
            }

            &__txt {
                max-width: 546px;
                width: 100%;
                color: #1E1E1E;
                font-family: $light;
                font-size: 16px;
                margin-bottom: 48px;
            }

            .contacts-textarea {
                display: flex;
                flex-direction: column;

                .textarea {
                    border-radius: 4px;
                    border: 1px solid var(--color-5, #A2A6B0);
                    outline-style: none;
                    margin-bottom: 11px;
                    max-width: 925px;
                    width: 100%;

                    @include _680-block {
                        max-width: 500px;
                    
                    }
                }
            }

            .contacts-btn {
                margin-bottom: 127px;
                max-width: 290px;
                width: 100%;
                padding: 20px 0;
                border-radius: 4px;
                background: #1E1E1E;
                color: #fff;
                border: none;
                outline: none;
            }

            .contacts-label {
                color: #1E1E1E;
                font-family: $bold;
                margin-bottom: 10px;
                font-size: 13px;
                margin-left: 2px;
            }
        }

        .contacts-right {
            display: flex;
            flex-direction: column;
            row-gap: 11px;

            .contacts-block {
                display: flex;
                align-items: center;
                column-gap: 10px;

                &__inner {
                    margin-top: 9px;

                    .contacts-block__title {
                        color: #1E1E1E;
                        font-family: $bold;
                        font-size: 18px;
                        margin-bottom: 6px;
                    }

                    .contacts-block__link {
                        color: #1E1E1E;
                        font-family: $regular;
                        font-size: 13px;
                    }
                }

            }
        }
    }
}