.header {
    overflow: hidden;
    width: 100%;
    background: linear-gradient(42deg, #F2F2F2 0%, #D5D6DA 94.13%);
    position: relative;


    .hero-img {
        position: absolute;
        z-index: 0;
        top: -1px;
        left: -1px;
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 100%;
    }

    .header-wrapper {
        display: flex;
        position: relative;
        padding: 150px 0;
        width: 100%;
        height: 100%;
        justify-content: space-between;



        @include _1080-block {
            flex-direction: column;
            align-items: center;
            padding: 50px 0 100px 0;

        }

        .header-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: auto;

            @include _1080-block {
                /* r */
                align-items: center;
            }

            @include _575-block {
                align-items: center;
            }

            .header-title {
                color: #D6141A;
                font-size: calc(24px + 120 * (100vw / 1920));
                font-family: $bold;
                font-weight: 700;
                line-height: 220.213px;
                letter-spacing: -1.834px;
                text-transform: uppercase;

                @include _1300-block {
                    line-height: 2;
                }

                /*     */

                @include _991-block {
                    line-height: 1;
                }

                @include _575-block {
                    line-height: 1;
                    margin-bottom: 20px;
                }

                @include _320-block {
                    font-size: calc(45px + (120 + 120 * 0.7) * ((100vw - 320px) / 1920));
                }
            }

            .header-subtitle {
                color: #FFF;
                font-size: 25px;
                font-family: $bold;
                font-weight: 700;
                line-height: 39px;
                text-transform: uppercase;
                margin-left: 8px;
                margin-bottom: 14px;
                max-width: 534px;
                width: 100%;

                font-size: calc(18px + 5 * (100vw /1920));

                @include _320-block {
                    font-size: calc(18px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
                    text-align: center;
                }

                @include _470-block {
                    font-size: 15px !important;
                }

                @include _1080-block {
                    text-align: center;
                    line-height: 20.449px;
                }

                @include _575-block {
                    text-align: center;
                }

                /*     @include _1920-block{
                    max-width: 1000px;
                    width: 100%;
                } */

            }

            .header-copy {
                color: rgba(218, 218, 218, 0.89);
                font-size: calc(10px + 8 * (100vw / 1920));
                font-family: $regular;

                margin-bottom: 100px;
                margin-left: 8px;

                @include _1080-block {
                    margin: 0;
                    margin-bottom: 36px;
                }

                @include _320-block {
                    font-size: calc(10 + (15 + 15 * 0.7) * ((100vw - 320px) / 1920));
                    text-align: center;
                }
            }

            .header-btn {
                display: flex;
                justify-content: center;

                width: 303px;

                padding: 16px 0;

                @include _1080-block {
                    /*              position: absolute;
                    bottom: 35%;
                    left: 35%;
                    z-index: 2; */
                    padding: 24px 0;
                }

                @include _1080-block {
                    /*    max-width: 303px !important;
                    width: 100%;
                    justify-content: space-between;
                    background: rgba(0, 0, 0, 0.53);
                    backdrop-filter: blur(9.797529220581055px); */
                    display: none;
                }


                border-radius: 89.973px;
                background: #FFF;
                backdrop-filter: blur(15px);

                text-decoration: none;

                &:hover .header-icon {
                    background: #000;

                }

                &:hover .header-icon .arrow-right {
                    color: #fff;
                }

                .header-btn__text {
                    display: flex;
                    align-items: center;
                    column-gap: 37px;

                    width: 100%;


                    @include _1080-block {
                        /*    max-width: 303px !important;
                        width: 100%; */
                        padding: 0 10px;
                        justify-content: center;

                    }

                    p {
                        color: #000;
                        font-size: 25px;
                        font-family: $regular;
                        line-height: 21px;

                        @include _1080-block {
                            margin-left: 0;
                        }

                        margin-left: 42px;

                        /*   @include _320-block {
                            font-size: calc(10 + (8 + 8 * 0.7) * ((100vw - 320px) / 1920));
                            text-align: center;
                        } */
                    }

                    .arrow-right {
                        color: #000;
                        transition: all .4s;
                    }

                    .header-icon {
                        @include _1080-block {
                            display: none;
                        }

                        width: 60px;
                        height: 60px;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 2px #000;
                        border-radius: 50%;
                        transition: all .4s;

                        /*   @include _1080-block {
                            width: 50px;
                            height: 50px;
                        } */

                        /*    @include _-block {
                            width: 50px;
                            height: 50px;
                        } */
                    }
                }
            }
        }

        .header-wrapper__rigth {
            display: flex;

            width: 100%;
            justify-content: center;
            align-items: center;


            .header-btn {
                display: none;
                justify-content: center;
                align-items: center;

                padding: 24px 0;

                max-width: 200px;
                width: 100%;

                @include _1080-block {
                    display: flex;
                    max-width: 303px;
                    width: 100%;
                    justify-content: space-between;
                    background: rgba(0, 0, 0, 0.53);
                    backdrop-filter: blur(9.797529220581055px);
                }

                @include _600-block {
                    max-width: 250px;
                    bottom: 63%;
                    left: 24%;
                }

                @include _575-block {
                    max-width: 200px;
                    bottom: 63%;
                    left: 28%;
                }

                @include _470-block {
                    bottom: 61%;
                    left: 24%;
                }

                @include _420-block {
                    max-width: 200px;

                    bottom: 60%;
                    left: 18%;
                }

                @include _370-block {
                    max-width: 200px;

                    bottom: 56%;
                    left: 15%
                }

                /*       @include _575-block {
                    max-width: 250px;
                        
                }
 */
                border-radius: 100px;
                background: rgba(0, 0, 0, 0.76);
                backdrop-filter: blur(15px);

                text-decoration: none;

                &:hover .header-icon {
                    background: #fff;

                }

                &:hover .header-icon .arrow-right {
                    color: #000;
                }

                .header-btn__text {
                    display: flex;
                    align-items: center;
                    column-gap: 37px;

                    width: 100%;


                    @include _1080-block {
                        /*    max-width: 303px !important;
                        width: 100%; */
                        padding: 0 10px;
                        justify-content: center;

                    }

                    p {
                        color: #FFF;
                        font-size: calc(18px + 6 * (100vw / 1920));
                        font-family: $regular;
                        line-height: 21px;

                        @include _1080-block {
                            margin-left: 0;
                        }

                        margin-left: 42px;

                        @include _320-block {
                            font-size: calc(18px + (6 + 6 * 0.7) * ((100vw - 320px) / 1920));
                            text-align: center;
                        }
                    }

                    .arrow-right {
                        color: #fff;
                        transition: all .4s;
                    }

                    .header-icon {
                        @include _1080-block {
                            display: none;
                        }

                        width: 60px;
                        height: 60px;
                        font-size: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: solid 2px #fff;
                        border-radius: 50%;
                        transition: all .4s;

                        @include _1080-block {
                            width: 50px;
                            height: 50px;
                        }

                        /*    @include _-block {
                            width: 50px;
                            height: 50px;
                        } */
                    }
                }
            }

            /*   max-width: 772px;
            width: 100%; */
            img {
                max-width: 671px;
                width: 100%;

                @include _1080-block {
                    max-width: 580px;
                    width: 100%;
                }

            }
        }


    }
}